<div id="simple_cart">
  <div class="heading">{{text_header_cart_title|default('common/cart:text_header_cart_title')}}<span id="link_to_basket" style="display:{{  count_of_items ? 'inline': 'none'}}"> (<a href="{{ cart }}">{{ text_cart }}</a>)
      </span>:</div>
  <div class="line">{{text_header_cart_items_label|default('common/cart:text_header_cart_items_label')}}: <span id="count_items_into_cart" class="value">{{ count_of_items  }}</span></div>
  <div class="line">{{text_header_cart_items_sum_label|default('common/cart:text_header_cart_items_sum_label')}}: <span id="sum_items_into_cart" class="value">{{ sum_of_items }}</span></div>
</div>