<footer>
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="email-contact">{{ text_email_prefix|default('common/footer:text_email_prefix') }} <a href="mailto:{{ email }}">{{ email }}</a></div>
      </div>
    </div>
</footer>

{% for script in scripts %}
  <script src="{{ script }}" type="text/javascript"></script>
{% endfor %}

</body></html>