<div class="container">
  <ul class="main-menu">
    <li><a href="/" class="btn btn-rich rich-red{{ activeItemMenuType == 'main' ? ' active' : '' }}"><span>{{ text_home }}</span></a></li>

    {% if categories %}
      {% for category in categories %}
        <li><a href="{{ category.href }}" class="btn btn-rich rich-{{ loop.index % 2 ? 'pink':'blue' }}{{ category.active ? ' active' : ''}}"><span>{{ category.name }}</span></a></li>
      {% endfor %}
    {% endif %}

    {% if informations %}
      {% for information in informations %}
        <li><a href="{{ information.href }}" class="btn btn-rich rich-{{ loop.index % 2 ? 'yellow':'green' }}{{ information.active ? ' active' : ''}}"><span>{{ information.title }}</span></a></li>
      {% endfor %}
    {% endif %}


  </ul>
</div>
