/*http://www.font2web.com*/
@font-face {
	font-family: 'KabelCTT';
	src: url('fonts/KabelCTT Medium Regular.eot');
	src: local('?'),
	url('fonts/KabelCTT Medium Regular.woff') format('woff'),
	url('fonts/KabelCTT Medium Regular.ttf') format('truetype'),
	url('fonts/KabelCTT Medium Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'KabelCTT';
	src: url('fonts/KabelCTT Medium Bold.eot');
	src: local('?'),
	url('fonts/KabelCTT Medium Bold.woff') format('woff'),
	url('fonts/KabelCTT Medium Bold.ttf') format('truetype'),
	url('fonts/KabelCTT Medium Bold.svg') format('svg');
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: 'KabelCTTUltra';
	src: url('fonts/KabelCTT Ultra Regular.eot');
	src: local('?'),
	url('fonts/KabelCTT Ultra Regular.woff') format('woff'),
	url('fonts/KabelCTT Ultra Regular.ttf') format('truetype'),
	url('fonts/KabelCTT Ultra Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

body {
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	color: #2B2A29;
	font-size: 12px;
	line-height: 20px;
	width: 100%;
	position: relative;
	padding: 45px 0 20px;
}
body:before,
body:after{
	content:'';
	display: block;
	position: absolute;
	left: 0;
	top:0;
	width: 100%;
	height: 125px;
	background-image: linear-gradient(to top, rgba(255,244,132,0) 0%, rgba(255,244,132,1) 100%);
	z-index: -1;
}
body:after{
	height: 225px;
	background-image: linear-gradient(to bottom, rgba(255,244,132,0) 0%, rgba(255,244,132,1) 100%);
	top:auto;
	bottom: 0;
}

h1, h2, h3, h4, h5, h6 {
	color: #444;
	font-family: KabelCTT, Arial;
}
/* default font size */
.fa {
	font-size: 14px;
}
/* Override the bootstrap defaults */
h1 {
	font-size: 33px;
}
h2 {
	font-size: 27px;
}
h3 {
	font-size: 21px;
}
h4 {
	font-size: 15px;
}
h5 {
	font-size: 12px;
}
h6 {
	font-size: 10.2px;
}
a {
	color: #23a1d1;
}
a:hover {
	text-decoration: none;
}
legend {
	font-size: 18px;
	padding: 7px 0px
}
label {
	font-size: 12px;
	font-weight: normal;
}
.fontKabel{
	font-family: KabelCTT, Arial, Helvetica, sans-serifrial, serif;
}
select.form-control, textarea.form-control, input[type="text"].form-control, input[type="password"].form-control, input[type="datetime"].form-control, input[type="datetime-local"].form-control, input[type="date"].form-control, input[type="month"].form-control, input[type="time"].form-control, input[type="week"].form-control, input[type="number"].form-control, input[type="email"].form-control, input[type="url"].form-control, input[type="search"].form-control, input[type="tel"].form-control, input[type="color"].form-control {
	font-size: 12px;
}
.input-group input, .input-group select, .input-group .dropdown-menu, .input-group .popover {
	font-size: 12px;
}
.input-group .input-group-addon {
	font-size: 12px;
	height: 30px;
}
/* Fix some bootstrap issues */
span.hidden-xs, span.hidden-sm, span.hidden-md, span.hidden-lg {
	display: inline;
}

.nav-tabs {
	margin-bottom: 15px;
}
div.required .control-label:before {
	content: '* ';
	color: #F00;
	font-weight: bold;
}
/* Gradent to all drop down menus */
.dropdown-menu li > a:hover {
	text-decoration: none;
	color: #ffffff;
	background-color: #229ac8;
	background-image: linear-gradient(to bottom, #23a1d1, #1f90bb);
	background-repeat: repeat-x;
}

/*common: cart block at the top*/
#simple_cart{
	font: 400 14px/1.4  KabelCTT, Arial;
	text-transform: uppercase;
}
#simple_cart .heading{
	color:#3FAB3C;
	font-size: 19px;
	font-weight: 700;
}
#simple_cart .line{
	color: #264796;
	padding-bottom: 5px;
}
#simple_cart .line .value{
	color: #E31E24;
	text-transform: none;
	border-bottom: 1px solid #264796;
	display: inline-block;
	padding: 0 15px;
	min-width: 115px;
}

/* search */
#search {
	position: relative;
	padding: 11px 0;
	width: 375px;
}
#search .input-lg {
	border:3px solid #F9B33B;
	border-radius: 7px;
	line-height: 24px;
	padding: 0 15px 0 70px;
	height: auto;
	font-size: 16px;
}
#search .input-lg:focus{
	box-shadow:
	inset 0 1px 1px rgba(0,0,0,.075),
	0 0 8px rgba(249,179,59,.6);
}

#search .btn-lg {
	width: 52px;
	height: 52px;
	background: transparent url("../image/search_ico.png") center center no-repeat;
	border:none;
	position: absolute;
	left: 8px;
	top:0;
	z-index: 5;
	box-shadow: none;
	padding: 0;
}
#search .btn-lg:focus{
	outline: none;
}

body header{
	padding-top: 25px;
}
/*contacts_header*/
.contacts_header{
	padding-top: 30px;
	color:#E31E24;
	font: 400 24px/1.4  KabelCTT, Arial;
	text-transform: lowercase;
	text-align: right;
}
.contacts_header .phone{
	font-size: 29px;
	font-weight: 700;
}

/* content */
#content {
	min-height: 600px;
}
/* footer */
footer {
	margin-top: 30px;
	padding-top: 30px;

}
footer .email-contact{
	text-align: center;
	color: #EF7F1A;
	font: 400 24px/1.4  KabelCTT, Arial;
	margin-bottom: 25px;
}
footer a {
	color: inherit;
}

/*table in cart page*/
table.cart-table{
	background-color: #FFF275;
	font-family: Arial, Helvetica, sans-serif;
	margin-bottom: 0;
	color:#2B2A29;
}
table.cart-table th{
	color: #EF7F1A;
}
table.cart-table td, table.cart-table th{
	border:3px solid #fff !important;
	font-size: 18px;
}

.subtotal{
	font: 700 20px/1.4  KabelCTT, Arial;
	text-align: right;
	text-transform: uppercase;
	color: #E31E24;
}
.subtotal > span{
	vertical-align: middle;
}
.subtotal .subtotal-label{
	display: inline-block;
	line-height: 24px;
}

.subtotal .subtotal-label span {
    display:  inline-block;
    width: 120px;
}
.subtotal .subtotal-value{
	min-width: 170px;
	display: inline-block;
	background-color: #E31E24;
	color:#fff;
	border-radius: 6px;
	line-height: 50px;
	text-align: center;
	font-size: 36px;
	position: relative;
	padding: 0 30px;
}
.subtotal .subtotal-value:after{
	content:  attr(data-currency-symbol);
	display: inline-block;
	position: absolute;
	right: 4px;
	bottom: 0;
	font-size: 12px;
	font-weight: 400;
	line-height: 1.5;
}
.checkout-btn{
	min-width: 170px;
}

/*home page*/
.home_page .owl-carousel{
	padding:  0 45px;
}
.home_page .owl-wrapper-outer{
	border: 8px solid #FFF275;
	border-radius: 18px;
	box-shadow: none;
}
.home_page .owl-pagination{
	top:-15px;
}
.home_page .owl-pagination .owl-page{
	vertical-align: middle;
}
.home_page .owl-pagination .owl-page span{
	width:15px;
	height: 15px;
	background-color: #FECC00;
	border-radius: 2px;
	box-shadow: none;
	margin-top: 1px;
}
.home_page .owl-pagination .owl-page.active span{
	background-image: linear-gradient(to bottom, #F18C16 0%, #FECC00 100%);
	width:21px;
	height: 21px;
	margin-top: 0;
	border:1px solid #F18C16;
}
.home_page .owl-carousel:hover .owl-buttons div{
	opacity: 1;
}
.home_page .owl-carousel .owl-buttons .owl-prev{
	left: 6px;
}
.home_page .owl-carousel .owl-buttons div{
	opacity: 1;
	background: #FFF275 url("../image/arrow-left.png") center center no-repeat;
	box-shadow: 1px 1px 0 1px #FECC00;
	height: 33px;
	width: 33px;
	border-radius: 3px;
	margin-top: -28px;
}
.home_page .owl-carousel .owl-buttons .owl-next{
	background-image: url("../image/arrow-right.png");
	right: 6px;
}
.home_page .owl-carousel .owl-buttons div:hover{
	opacity: 0.75;
}
.home_page .owl-carousel .owl-buttons div .fa{
	display: none;
}

/*main menu*/
.main-menu{
	list-style: none;
	padding: 0;
	margin: 20px 0 0;
}
.main-menu li{
	width: 16.666666666666%;
	float: left;
	padding-right: 10px;
	min-width: 185px;
	margin-bottom: 15px;
}
.main-menu .btn{
	width: 100%;
	height: 60px;
	font: 400 24px/54px 'KabelCTTUltra', Arial;
	white-space: normal;
}
.main-menu .btn span{
	line-height: 24px;
	display: inline-block;
	position: relative;
	z-index: 5;
}


/*
btn-rich-red
btn-rich-pink
btn-rich-blue
btn-rich-yellow
btn-rich-green
*/
.btn.btn-rich{
	padding: 0 10px;
	border-radius: 12px;
	border-width: 3px;
	font: 400 24px/54px 'KabelCTTUltra', Arial;
	text-transform: uppercase;
}
.btn.btn-rich,
.btn.btn-rich:focus,
.btn.btn-rich:active{
	outline: none;
}
.btn.btn-rich.rich-red{
	color: #E31E24;
	box-shadow: -3px -3px 0 0 #E9746A;
	border-color: #FFB38C;
	background: #FFD1B9 linear-gradient(to bottom, #FFD1B9 0%, #FFB38C 100%);
}
.btn.btn-rich.rich-red:not(.active):hover{
	background: #FFB38C linear-gradient(to bottom, #FFB38C 0%, #FFD1B9 100%);
}
.btn.btn-rich.rich-red.active,
.btn.btn-rich.rich-red:not(.active):active{
	border-color: #E31E24;
	text-shadow: 3px 3px 0 #83231C;
	background: #E31E24 linear-gradient(to bottom, #BB2213 0%, #E31E24 100%);
}
.btn.btn-rich.rich-red.active:after{background-position: 0 -3px;}
.btn.btn-rich.rich-red.active:before{background-position: 0 -63px;}
.btn.btn-rich.rich-pink{
	color: #E94692;
	box-shadow: -3px -3px 0 0 #C8739F;
	border-color: #F195BE;
	background: #F6BDD9 linear-gradient(to bottom, #F6BDD9 0%, #F195BE 100%);
}
.btn.btn-rich.rich-pink:not(.active):hover{
	background: #F195BE linear-gradient(to bottom, #F195BE 0%, #F6BDD9 100%);
}
.btn.btn-rich.rich-pink.active,
.btn.btn-rich.rich-pink:not(.active):active{
	border-color: #E94692;
	text-shadow: 3px 3px 0 #981956;
	background: #E94692 linear-gradient(to bottom, #C92980 0%, #E94692 100%);
}
.btn.btn-rich.rich-pink.active:after{background-position: 0 -123px;}
.btn.btn-rich.rich-pink.active:before{background-position: 0 -183px;}
.btn.btn-rich.rich-blue{
	color: #0066B0;
	box-shadow: -3px -3px 0 0 #58A0CE;
	border-color: #88BCE6;
	background: #BDD2EF linear-gradient(to bottom, #BDD2EF 0%, #88BCE6 100%);
}
.btn.btn-rich.rich-blue:not(.active):hover{
	background: #88BCE6 linear-gradient(to bottom, #88BCE6 0%, #BDD2EF 100%);
}
.btn.btn-rich.rich-blue.active,
.btn.btn-rich.rich-blue:not(.active):active{
	border-color: #0066B0;
	text-shadow: 3px 3px 0 #033F69;
	background: #0066B0 linear-gradient(to bottom, #005896 0%, #0066B0 100%);
}
.btn.btn-rich.rich-blue.active:after{background-position: 0 -243px;}
.btn.btn-rich.rich-blue.active:before{background-position: 0 -303px;}
.btn.btn-rich.rich-yellow{
	color: #EF7F1A;
	box-shadow: -3px -3px 0 0 #F6AB58;
	border-color: #FFE058;
	background: #FFEA9D linear-gradient(to bottom, #FFEA9D 0%, #FFE058 100%);
}
.btn.btn-rich.rich-yellow:not(.active):hover{
	background: #FFE058 linear-gradient(to bottom, #FFE058 0%, #FFEA9D 100%);
}
.btn.btn-rich.rich-yellow.active,
.btn.btn-rich.rich-yellow:not(.active):active{
	border-color: #EF7F1A;
	text-shadow: 3px 3px 0 #873E1C;
	background: #EF7F1A linear-gradient(to bottom, #C76000 0%, #EF7F1A 100%);
}
.btn.btn-rich.rich-yellow.active:after{background-position: 0 -363px;}
.btn.btn-rich.rich-yellow.active:before{background-position: 0 -423px;}
.btn.btn-rich.rich-green{
	color: #3FAB3C;
	box-shadow: -3px -3px 0 0 #7ED164;
	border-color: #9FCA7B;
	background: #D1EFB0 linear-gradient(to bottom, #D1EFB0 0%, #9FCA7B 100%);
}
.btn.btn-rich.rich-green:not(.active):hover{
	background: #9FCA7B linear-gradient(to bottom, #9FCA7B 0%, #D1EFB0 100%);
}
.btn.btn-rich.rich-green.active,
.btn.btn-rich.rich-green:not(.active):active{
	border-color: #3FAB3C;
	text-shadow: 3px 3px 0 #2C682B;
	background: #3FAB3C linear-gradient(to bottom, #289A0B 0%, #3FAB3C 100%);
}
.btn.btn-rich.rich-green.active:after{background-position: 0 -483px;}
.btn.btn-rich.rich-green.active:before{background-position: 0 -543px;}

.btn.btn-rich.active,
.btn.btn-rich:active{
	color: #fff;
}
.btn.btn-rich.active{
	box-shadow: none;
	position: relative;
	top:-2px;
	left:-2px;
}
.btn.btn-rich.active:before,
.btn.btn-rich.active:after{
	content: '';
	display: block;
	height: 100%;
	width: 55px;
	position: absolute;
	top: 0;
	left:0;
	background: transparent url("../image/stars-for-btns.png") left top no-repeat;
}
.btn.btn-rich.active:after{
	left: auto;
	right: 0;
}

/*default buttons (like product and etc)*/
.btn.btn-rich-def{
	padding: 0 20px;
	border-radius: 10px;
	border-width: 2px;
	font: 400 24px/42px 'KabelCTTUltra', Arial;
	text-transform: uppercase;
	color:#fff;
	text-shadow: 3px 3px rgba(0,0,0,.3);
}
.btn.btn-rich-def:active{
	text-shadow: 4px 4px rgba(0,0,0,.3);
}
.btn.btn-rich-def.btn-small{
	font-size: 12px;
	line-height:  21px;
	text-shadow: 2px 2px rgba(0,0,0,.3);
	border-radius: 5px;
	border-width: 1px;
}
.btn.btn-rich-def.btn-small:active{
	text-shadow: 2px 3px rgba(0,0,0,.3);
}
.btn.btn-rich-def,
.btn.btn-rich-def:focus,
.btn.btn-rich-def:active{
	outline: none;
}
.btn.btn-rich-def.rich-green{
	box-shadow: 3px 3px 0 0 #2a7f25;
	border-color: #38aa34;
	background: #207820 linear-gradient(to bottom, #207820 0%, #38aa34 100%);
}
.btn.btn-rich-def.rich-green.btn-small{
	box-shadow: 1px 2px 0 0 #2a7f25;
}
.btn.btn-rich-def.rich-green:hover{
	background: #38aa34 linear-gradient(to bottom, #38aa34 0%, #207820 100%);
}
.btn.btn-rich-def.rich-green:active{
	border-color: #059005;
	background: #38aa34 linear-gradient(to bottom, #207820 0%, #2fb12f 100%);
}
.btn.btn-rich-def.rich-orange{
	box-shadow: 3px 3px 0 0 #d05104;
	border-color: #f07c00;
	background: #f7bd7e linear-gradient(to bottom, #f7bd7e 0%, #f07c00 100%);
}
.btn.btn-rich-def.rich-orange.btn-small{
	box-shadow: 1px 2px 0 0 #d05104;
}
.btn.btn-rich-def.rich-orange:hover{
	background: #f07c00 linear-gradient(to bottom, #f07c00 0%, #f7bd7e 100%);
}
.btn.btn-rich-def.rich-orange:active{
	border-color: #e06f2b;
	background: #e06f2b linear-gradient(to bottom, #e06f2b 0%, #f7bd7e 100%);
}

/* alert */
.alert {
	padding: 8px 14px 8px 14px;
}
.rich-pagination {
	margin: 0;
	list-style: none;
	padding: 0;
	display: inline-block;
}
.rich-pagination li{
	float: left;
	margin: 0 10px;
}
.rich-pagination li a, .rich-pagination li span{
	text-decoration: none;
	color: #07440c;
	background-color:  #b0dca9;
	display: inline-block;
	font-size: 18px;
	font-family: KabelCTT, Arial;
	line-height: 30px;
	width: 30px;
	text-align: center;
	border-radius: 50%;
	box-sizing: content-box;
	background-image:
		linear-gradient(to bottom, rgba(255,255,255,0.5) 30%, rgba(255,255,255,0)),
		radial-gradient(circle farthest-side at 17px 24px, #b4cf5b, #64b43b);
	box-shadow:
		0 -1px 0 1px #3bab34,
		1px 2px 0 1px #839d54;
}
.rich-pagination li span,
.rich-pagination li a:active{
	background-color: #145915;
	background-image:
		linear-gradient(to bottom, rgba(255,255,255,0) 45%, rgba(255,255,255,.2) ,rgba(255,255,255,0)),
		linear-gradient(to bottom, #145915, #31932c);
	box-shadow: 0 -1px 0 1px #297e25;
	color: #fff;
}
.rich-pagination li a:hover:not(:active) {
    opacity: 0.8;
}

.rich-pagination li.p-first,
.rich-pagination li.p-last{
	display: none;
}
.rich-pagination li.p-prev.not-active,
.rich-pagination li.p-next.not-active{
	pointer-events: none;
}
.rich-pagination li.p-prev a,
.rich-pagination li.p-next a{
	background-image:
	linear-gradient(to bottom, rgba(255,255,255,0.5) 30%, rgba(255,255,255,0)),
	radial-gradient(circle farthest-side at 17px 24px, #fed218, #f49600);
	box-shadow: 0 -1px 0 1px #f28a00;
	font-size: 0;
	position: relative;
}
.rich-pagination li.p-prev.not-active a,
.rich-pagination li.p-next.not-active a{
	background-image:
	linear-gradient(to bottom, rgba(255,255,255,0.5) 30%, rgba(255,255,255,0)),
	radial-gradient(circle farthest-side at 17px 24px, #d7d7d7, #bababa);
	box-shadow: 0 -1px 0 1px #ccc;
}
.rich-pagination li.p-prev a:before,
.rich-pagination li.p-next a:before{
	 content: '';
	 display: inline-block;
	 width: 15px;
	 height: 22px;
	 background: url("../image/p-arrow-left.png") center center no-repeat;
	 position: absolute;
	 left: 50%;
	 margin: -12px 0 0 -9px;
	 top: 50%;
 }
.rich-pagination li.p-next a:before{
	background-image: url("../image/p-arrow-right.png");
	margin: -12px 0 0 -5px;
}
.rich-pagination li.p-prev.not-active a:before{
	background-image: url("../image/p-arrow-left-na.png");
}
.rich-pagination li.p-next.not-active a:before{
	background-image: url("../image/p-arrow-right-na.png");
}
/* buttons */
.buttons {
	margin: 1em 0;
}
.btn {
	padding: 7.5px 12px;
	font-size: 12px;
	border: 1px solid #cccccc;
	border-radius: 4px;
	box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
}
.btn-xs {
	font-size: 9px;
}
.btn-sm {
	font-size: 10.2px;
}
.btn-lg {
	padding: 10px 16px;
	font-size: 15px;
}
.btn-group > .btn, .btn-group > .dropdown-menu, .btn-group > .popover {
	font-size: 12px;
}
.btn-group > .btn-xs {
	font-size: 9px;
}
.btn-group > .btn-sm {
	font-size: 10.2px;
}
.btn-group > .btn-lg {
	font-size: 15px;
}
.btn-default {
	color: #777;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
	background-color: #e7e7e7;
	background-image: linear-gradient(to bottom, #eeeeee, #dddddd);
	background-repeat: repeat-x;
	border-color: #dddddd #dddddd #b3b3b3 #b7b7b7;
}
.btn-primary {
	color: #ffffff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #229ac8;
	background-image: linear-gradient(to bottom, #23a1d1, #1f90bb);
	background-repeat: repeat-x;
	border-color: #1f90bb #1f90bb #145e7a;
}
.btn-primary:hover, .btn-primary:active, .btn-primary.active, .btn-primary.disabled, .btn-primary[disabled] {
	background-color: #1f90bb;
	background-position: 0 -15px;
}
.btn-warning {
	color: #ffffff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #faa732;
	background-image: linear-gradient(to bottom, #fbb450, #f89406);
	background-repeat: repeat-x;
	border-color: #f89406 #f89406 #ad6704;
}
.btn-warning:hover, .btn-warning:active, .btn-warning.active, .btn-warning.disabled, .btn-warning[disabled] {
	box-shadow: inset 0 1000px 0 rgba(0, 0, 0, 0.1);
}
.btn-danger {
	color: #ffffff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #da4f49;
	background-image: linear-gradient(to bottom, #ee5f5b, #bd362f);
	background-repeat: repeat-x;
	border-color: #bd362f #bd362f #802420;
}
.btn-danger:hover, .btn-danger:active, .btn-danger.active, .btn-danger.disabled, .btn-danger[disabled] {
	box-shadow: inset 0 1000px 0 rgba(0, 0, 0, 0.1);
}
.btn-success {
	color: #ffffff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #5bb75b;
	background-image: linear-gradient(to bottom, #62c462, #51a351);
	background-repeat: repeat-x;
	border-color: #51a351 #51a351 #387038;
}
.btn-success:hover, .btn-success:active, .btn-success.active, .btn-success.disabled, .btn-success[disabled] {
	box-shadow: inset 0 1000px 0 rgba(0, 0, 0, 0.1);
}
.btn-info {
	color: #ffffff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #df5c39;
	background-image: linear-gradient(to bottom, #e06342, #dc512c);
	background-repeat: repeat-x;
	border-color: #dc512c #dc512c #a2371a;
}
.btn-info:hover, .btn-info:active, .btn-info.active, .btn-info.disabled, .btn-info[disabled] {
	background-image: none;
	background-color: #df5c39;
}
.btn-link {
	border-color: rgba(0, 0, 0, 0);
	cursor: pointer;
	color: #23A1D1;
	border-radius: 0;
}
.btn-link, .btn-link:active, .btn-link[disabled] {
	background-color: rgba(0, 0, 0, 0);
	background-image: none;
	box-shadow: none;
}
.btn-inverse {
	color: #ffffff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #363636;
	background-image: linear-gradient(to bottom, #444444, #222222);
	background-repeat: repeat-x;
	border-color: #222222 #222222 #000000;
}
.btn-inverse:hover, .btn-inverse:active, .btn-inverse.active, .btn-inverse.disabled, .btn-inverse[disabled] {
	background-color: #222222;
	background-image: linear-gradient(to bottom, #333333, #111111);
}
/* list group */
.list-group a {
	border: 1px solid #DDDDDD;
	color: #888888;
	padding: 8px 12px;
}
.list-group a.active, .list-group a.active:hover, .list-group a:hover {
	color: #444444;
	background: #eeeeee;
	border: 1px solid #DDDDDD;
	text-shadow: 0 1px 0 #FFF;
}
/* carousel */
.carousel-caption {
	color: #FFFFFF;
	text-shadow: 0 1px 0 #000000;
}
.carousel-control .icon-prev:before {
	content: '\f053';
	font-family: FontAwesome;
}
.carousel-control .icon-next:before {
	content: '\f054';
	font-family: FontAwesome;
}
/* product list */
.product-thumb {
	border: 1px solid #ddd;
	margin-bottom: 20px;
}
.product-thumb .image {
	text-align: center;
}
.product-thumb .image a {
	display: block;
}
.product-thumb .image a:hover {
	opacity: 0.8;
}
.product-thumb .image img {
	margin-left: auto;
	margin-right: auto;
}
.product-grid .product-thumb .image {
	float: none;
}
@media (min-width: 767px) {
.product-list .product-thumb .image {
	float: left;
	padding: 0 15px;
}
}
.product-thumb .name {
	text-align: right;
	font-size: 14px;
}
.product-thumb .name a:not(:hover){
	color: inherit;
}
.product-thumb .model-info{
	text-align: right;
	font-size: 14px;
	line-height: 1em;
}
.product-thumb .caption {
	padding: 0 20px 10px;
	/*	min-height: 180px;*/
}
.product-list .product-thumb .caption {
	margin-left: 230px;
}
@media (max-width: 1200px) {
.product-grid .product-thumb .caption {
	/*min-height: 210px;*/
	padding: 0 10px 10px;
}
}
@media (max-width: 767px) {
.product-list .product-thumb .caption {
	min-height: 0;
	margin-left: 0;
	padding: 0 10px;
}
.product-grid .product-thumb .caption {
	min-height: 0;
}
}
.product-thumb .rating {
	padding-bottom: 10px;
}
.rating .fa-stack {
	font-size: 8px;
}
.rating .fa-star-o {
	color: #999;
	font-size: 15px;
}
.rating .fa-star {
	color: #FC0;
	font-size: 15px;
}
.rating .fa-star + .fa-star-o {
	color: #E69500;
}
h2.price {
	margin: 0;
}
.product-thumb .product-thumb-footer {
	text-align: right;
}
.product-thumb .product-thumb-footer button{
	margin-left: 10px;
	vertical-align: text-bottom;
}
.product-thumb .price span{
	color: #e3000f;
}
.product-thumb .price > span{
	font-family: KabelCTTUltra;
	font-size: 40px;
}
.product-thumb .price em{
	font-style:normal;
	font-family: KabelCTT;
	font-size: 26px;
}
.product-thumb .price-new {
	font-weight: 600;
}
.product-thumb .price-old {
	color: #999;
	text-decoration: line-through;
	margin-left: 10px;
}
.product-thumb .price-tax {
	color: #999;
	font-size: 12px;
	display: block;
}
.product-thumb .button-group {
	border-top: 1px solid #ddd;
	background-color: #eee;
	overflow: auto;
}
.product-list .product-thumb .button-group {
	border-left: 1px solid #ddd;
}
@media (max-width: 768px) {
	.product-list .product-thumb .button-group {
		border-left: none;
	}
}
.product-thumb .button-group button {
	width: 60%;
	border: none;
	display: inline-block;
	float: left;
	background-color: #eee;
	color: #888;
	line-height: 38px;
	font-weight: bold;
	text-align: center;
	text-transform: uppercase;
}
.product-thumb .button-group button + button {
	width: 20%;
	border-left: 1px solid #ddd;
}
.product-thumb .button-group button:hover {
	color: #444;
	background-color: #ddd;
	text-decoration: none;
	cursor: pointer;
}
@media (max-width: 1200px) {
	.product-thumb .button-group button, .product-thumb .button-group button + button {
		width: 33.33%;
	}
}
@media (max-width: 767px) {
	.product-thumb .button-group button, .product-thumb .button-group button + button {
		width: 33.33%;
	}
}
.thumbnails {
	overflow: auto;
	clear: both;
	list-style: none;
	padding: 0;
	margin: 0;
}
.thumbnails > li {
	margin-left: 20px;
}
.thumbnails {
	margin-left: -20px;
}
.thumbnails > img {
	width: 100%;
}
.image-additional a {
	margin-bottom: 20px;
	padding: 5px;
	display: block;
	border: 1px solid #ddd;
}
.image-additional {
	max-width: 78px;
}
.thumbnails .image-additional {
	float: left;
	margin-left: 20px;
}

@media (min-width: 1200px) {
	#content .col-lg-2:nth-child(6n+1),
	#content .col-lg-2:nth-child(6n+1),
	#content .col-lg-3:nth-child(4n+1),
	#content .col-lg-4:nth-child(3n+1),
	#content .col-lg-6:nth-child(2n+1) {
		/* clear:left; */
	}
}
@media (min-width: 992px) and (max-width: 1199px) {
	#content .col-md-2:nth-child(6n+1),
	#content .col-md-2:nth-child(6n+1),
	#content .col-md-3:nth-child(4n+1),
	#content .col-md-4:nth-child(3n+1),
	#content .col-md-6:nth-child(2n+1) {
		clear:left;
	}
}
@media (min-width: 768px) and (max-width: 991px) {
	#content .col-sm-2:nth-child(6n+1),
	#content .col-sm-2:nth-child(6n+1),
	#content .col-sm-3:nth-child(4n+1),
	#content .col-sm-4:nth-child(3n+1),
	#content .col-sm-6:nth-child(2n+1) {
		clear:left;
	}
}

/* fixed colum left + content + right*/
@media (min-width: 768px) {
    #column-left  .product-layout .col-md-3 {
       width: 100%;
    }

	#column-left + #content .product-layout .col-md-3 {
       width: 50%;
    }

	#column-left + #content + #column-right .product-layout .col-md-3 {
       width: 100%;
    }

    #content + #column-right .product-layout .col-md-3 {
       width: 100%;
    }
}

/* fixed product layouts used in left and right columns */
#column-left .product-layout, #column-right .product-layout {
	width: 100%;
}

/* fixed mobile cart quantity input */
.input-group .form-control[name^=quantity] {
	min-width: 50px;
}

/* Missing focus and border color to overwrite bootstrap */
.btn-info:hover, .btn-info:active, .btn-info.active, .btn-info.disabled, .btn-info[disabled] {
    background-image: none;
    background-color: #df5c39;
}

/*page information*/
.info-on-information-page{
	font: 400 20px/1.2  KabelCTT, Arial;
	text-align: center;
}
.infoblock{
	font: 400 20px/1.2  KabelCTT, Arial;
	background-color: #FEEC80;
	padding: 10px 25px;
	border-radius: 0 0 16px 16px;
}

table.size-table{
	background-color: #FEEC80;
	font: 400 20px/1.2  KabelCTT, Arial;
	margin-bottom: 0;
	text-align: center;
}
table.size-table th{
	background-color: #FFBFA4;
	text-align: center;
	font-weight: 400;
}
table.size-table td, table.size-table th{
	border:6px solid #fff !important;
	padding: 2px !important;
}
table.size-table .st-heading-cell{
	background-color: #fff;
	padding: 0;
}
table.size-table .st-heading{
	background-color: #C2EB8B;
	border-radius: 12px 12px 0 0;
	padding: 5px 15px;
	line-height: 1;
	min-height: 3em;
}
.sizes-grid{
	overflow: hidden;
}
.sizes-grid > div{
	float: left;
	width: 25%;
}

/*page contacts*/
.info-on-contacts-page{
	font: 400 36px/1.2  KabelCTT, Arial;
	text-align: center;
	padding-top: 100px;
}

/*logo*/
.logo-block{
	display: inline-block;
	max-width: 100%;
}
.logo-block img{
	max-width: 100%;
	max-width: 300px;
}